* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(45deg, #fff3b0, #e09f3e, #540b0e);
  background-repeat: no-repeat;
  background-size: 150%;
  height: 100vh;
  width: 100vw;
}
#container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  height: 65vh;
  width: 70vw;
  margin: 100px auto;
  border-radius: 25px;
  box-shadow: 5px 15px 10px 10px rgba(25, 23, 23, 0.412);
  background: linear-gradient(45deg, #540b0e, #fff3b0, #335c67);
}

#num {
  width: 400px;
  height: 150px;
  font-size: 2em;
  text-align: center;
}

#btn {
  margin: 30px;
  height: 50px;
  width: 100px;
  border-radius: 12px;
  border: 2px solid black;
  background-color: rgb(47, 45, 45);
  color: aliceblue;
  font-size: 1.2em;
}

#btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

h1 {
  margin: 20px;
}
#output{
    font-size: 4em;
}